.map-container {
    display: flex;
    flex-direction: row;
}

.category {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 50%;
}

.sort {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}