/* Makes the open date picker outlined like a button */
.OpenButton-textButton-6 {
    border: 1px solid rgba(0, 0, 0, 0.23) !important;
    padding: 5px 15px !important;
}

.scrollableFriendlist {
    /* Displays 5 friends before scrolling needed */
    max-height: calc(4em * 5);
    overflow: auto;
}

.friendPhoto {
    height: 2.5em;
    width: 2.5em;
}

.clickable {
    cursor: pointer;
}